@import "reset.css";
@import "variable.css";

@import "users/index_style.css";
@import "users/menu_style_tableorder.css";
@import "users/index_tableorder.css";

@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@600&display=swap");

*,
body {
  font-family: "Black Han Sans", sans-serif;

  font-weight: 100;
}

input:focus {
  outline: none;
}

img {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}