/* do: 색상, 크기, 간격 조정 */

.gridmain {
  background-color: #a6a5b8;
  display: flex;
  align-items: center;
}

.grid {
  display: grid;
  width: 95vw;
  height: 60vh;
  grid-template-columns: repeat(3, 33.3%);
  grid-template-rows: repeat(2, 50%);
  grid-gap: 2vh;
  align-items: center;
  justify-content: center;
  background-color: #a6a5b8;
  padding: 3vh 2vw;
}

.grid_item {
  background-color: white;
  height: 27vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1vw;
}

.grid_item img {
  width: auto;
  height: auto;
  max-width: 28vw;
  max-height: 15vh;
  margin-top: 1vh;
  margin-bottom: 2vh;
}

.error {
  font-size: 18vw;
  grid-column: 1/4;
  grid-row: 1/4;
}

.pagebuttons {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 6vh;
  background-color: #a6a5b8;
}

.pagebuttons button {
  font-size: 1.35vw;
  height: 30px;
  width: 2vw;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  background-color: #a6a5b8;
  margin-top: 2vh;
}

#thispage {
  color: red;
}

.leftimg {
  width: 4vw;
  height: 33vh;
  background-image: url("왼쪽.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  opacity: 0.25;
}

.rightimg {
  width: 4vw;
  height: 33vh;
  background-image: url("오른쪽.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  opacity: 0.25;
}
