body{
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

*, *::before, *::after, {
    box-sizing: border-box;
}

.order-box {
    width: 100px;
    height: 50px;
    background-color: #cccccc;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    margin: auto;
}

.menuArea {
    display: flex;
    justify-content: space-between;
}
.navbar-area {
    background-color: #777;
    position: fixed;
    top: 0;
    width: calc(100% - 25vw);
    left: 0;
    z-index: 100;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li {
    float: left;
    border-right: 1px solid #f2f2f2;
}
li:last-child {
    border: none;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover{
    background-color: #555;
}
li a.active{
    background-color: #c5c3db;
    color: #222;
}

.db-area { 		/* 디비 */
    margin-top: 50px;
    position: flex;
    width: 65%;
}
.menu-container {
    display: flex;	/* 가로로 나열할 수 있도록 설정 */
    flex-wrap: wrap;	/* 너비가 꽉차면 다음 줄로 */
}
.menu-item {
    width: 200px;
    margin: 10px;	/* 각 메뉴 칸 사이의 간격 */
    padding: 10px;
    position: relative;
    background-color: white;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img {
    position: relative;
    width: 120px;
    height: auto;
}
.menu {
    text-align: center;
    margin-bottom: 1px;
    font-weight: bold;
}
.price {
    text-align: center;
    color: #666;
}
.admin-container {	/* DB 테이블*/
    position: relative;
    overflow: auto;
    height: calc(100% - 50px);
    margin: 0 auto;
}
.admin-table {
    position: relative;
    top: 120px;
    width: 75%;
    border-collapse: collapse;
    margin: 0 auto;
}
#admin-area {		/* insert, alter, delete Button */
    position: fixed;
    top: 50px;
    width: 60%;
    height: 50px;
    left: 42.5%;
    transform: translateX(-50%);
    background-color: #f2f2f2;
    display: none;
}
#admin-area.visible {
    display: block;
}
#inputForm, #alterForm, #deleteForm {
    position: fixed;
    top: 100px;
    width: 60%;
    height: 70px;
    left: 42.5%;
    transform: translateX(-50%);
    background-color: #f2f2f2;
    display: none;
}

.shop-area{		/* 장바구니 */
    background-color: white;
    float: right;
    position: fixed;
    width: 15vw;
    height: 100vh;
    right: 25vw;
    top: 52px;
    overflow-y: auto;
    z-index: 99;
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    justify-content: space-between;
    border: 3px solid #777;
}
.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-name {
    flex-basis: 50%;
}
.quantity-area {
    display: flex;
    justify-content: center;
    align-items: center;
}
.item-price {
    flex-basis: 25%;
    text-align: right;
}
#item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
#checkout-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    position: fixed;
    bottom: 0;
    width: 15vw;
    right: 25vw;
    height: 60px;
    background-color: #777;
    border: 3px solid #777;
    z-index: 90;
}
#total-price-area {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
#total-text, #total-price {
    margin-right: 5px;
}

.chat-area, .chatdisplay-area {
    position: fixed;
    width: 24.6vw;
    height: 100vh;
    top: 0;
    right: 0;
    border: 4px solid #c5c3db;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    justify-content: space-between;
    z-index: 80;
}
.chat-area {
    background-color: #c5c3db;
}
.voice-box {
    width: 100px;
    height: 50px;
    top: 500px;
    color: ghostwhite; /*darkslateblue*/
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    margin: auto;
    border: 2px solid ghostwhite;
}
.voice-box:hover{
    /*background-color: darkslateblue;*/
    background-color: rgba(46,60,102, 0.8);
}
.chatdisplay-area {
    height: calc(100vh - 9px);
    background-color: white;
}
.chat-message {
    display: flex;
    flex-direction: column;
    max-height: 300px;
    overflow-y: auto;
    padding: 10px;
    border: 1px solid #ccc;
}
.chat-input {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.chat-input input {
    flex: 1;
    margin-right: 10px;
}
.user, .bot {
    padding: 5px;
    margin: 5px 0;
    border-radius: 5px;
    max-width: 80%;
}
.user {
    background-color: white;
    border: 2px solid #ccc;
    align-self: flex-end;
}
.bot {
    color: white;
    background-color: rgba(46,60,102, 0.8);
    border: 2px solid #ccc;
    align-self: flex-start;
}
