@import "reset.css";

/* do: 색상, 크기, 간격 조정 */

.grid{
  padding: 2vw;
  display: grid;
  grid-template-columns: repeat(3,33.3%);
  grid-template-rows: repeat(2, 50%);
  height: 62vh;
  grid-gap: 1rem;
  align-items: center;
  justify-content: center;
  background-color: #a6a5b8;
}

.grid_item{
  background-color: white;
  border: 0.2px solid #76758a;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align : center;
  font-size: 1vw;
}

.grid_item img{
  width: auto;
  height: auto;
  max-width: 28vw;
  max-height: 15vh;
  margin-top : 1vh;
  margin-bottom: 2vh;
}

.error{
  font-size: 18vw;
  grid-column:1/4;
  grid-row:1/4;
}

.pagebuttons{
  display: flex;
  justify-content: center;
  align-content: center;
  height: 30px;
  background-color: #a6a5b8;
}

.pagebuttons button{
  font-size: 3vw;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  background-color: white;
}

.up,.down,.pagebutton{
  background-color: #333;
  border-radius:25px;
}

#thispage{
  background-color: #fcefbb;
  border-radius:25px;
}

