.usermain_background {
  display: flex;
  width: 90vw;
  height: 95vh;
  box-sizing: border-box;
  background-color: white;
  border: 10vh solid white;
  border-radius: 10vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Kiosk_usermain {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background-color: #a6a5b8;

}

.Kiosk_usermain h1 {
  display: flex;
  justify-content: center;
  font-size: 5vh;
  text-align: center;
  width: 100vw;
  margin-bottom: 5vh;
}

.Kiosk_usermain #Kiosk_touch {
  font-size: 3vw;
  text-align: center;
  margin-top: 7vh;
  width: 100%;
}

.Kiosk_usermain #Kiosk_touch img {
  width: 90%;
  height: auto;
}

.Kiosk_usermain i {
  font-size: 7vh;
  display: flex;
  position: absolute;
  right: 13vw;
  bottom: 7vh;
  animation: bounce 0.8s linear infinite;

}

#webgl-container-index {
  width: 100vw;
  height: 55vh;
  display: flex;
  margin-left: -40vw;
}

@keyframes bounce {
  0% {
    transform: 0;
  }

  50% {
    transform: translateY(-15px);
  }

  100% {
    transform: 0;
  }
}