.chefmain {
  width: 100vw;
}

.chefmain * {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.main-screen {
  width: 100vw;
  height: 85vh;
}

.main-screen .main-area {
  width: 100vw;
  height: 80vh;
  background-color: white;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: auto;
}

.main-screen .main-area::-webkit-scrollbar {
  display: none;
}

.main-screen .main-area .orderdetail_list {
  display: flex;
  font-size: 2.5vh;
}

.main-screen .main-area hr {
  border-width: 1px 0 0 0;
  border-color: #000;
}

.main-screen .main-area .orderdetail_list .tableOrderItem__menu {
  width: 2vw;
}

.main-screen .main-area .orderdetail_list .orderdetail_name {
  width: 11vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.main-screen .main-area .orderdetail_list .orderdetail_quantity {
  width: 3vw;
}

.main-screen .main-area .tableOrderItemCLEAR,
.main-screen .main-area .tableOrderItem {
  background-color: var(--main-color);

  /* border: 1px solid rgba(0, 0, 0, 0.3); */
  border: 0.5px solid black;
  min-width: 11.5vw;
  max-width: 11.5vw;

  padding: 1vw;
  height: 70vh;
  margin: 1vw;
}

.main-screen .main-area .tableOrderItemCLEAR {
  opacity: 0.3;
  background-color: var(--main-color);
}

.main-screen .main-area .tableOrderItemCLEAR .orderTableId,
.main-screen .main-area .tableOrderItem .orderTableId {
  text-align: center;
  font-size: 2vw;
  padding-bottom: 1vh;
}

.main-screen .main-area .tableOrderItemCLEAR .tableOrderItem__time,
.main-screen .main-area .tableOrderItem .tableOrderItem__time {
  text-align: center;
  font-size: 2vw;
  padding-bottom: 3vh;
}

.main-screen .main-area .tableOrderItemCLEAR .clear,
.main-screen .main-area .tableOrderItem .clear {
  text-decoration: line-through;
}

.orderdetail_scroll {
  overflow-y: auto;
  overflow-x: hidden;
  height: 59vh;
}

.orderdetail_scroll::-webkit-scrollbar {
  display: none;
}

.neworder-popup-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1001;
}

.neworder-popup-background__inform {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  height: 100px;
  background-color: white;
  border: 2px solid rgba(0, 0, 0, 0.5);
  flex-direction: column;
  z-index: 1005;
  text-align: center;
  /* align-items: center; */
  justify-content: center;

}