.chefmain {
  width: 100vw;
}

.main-screen {
  width: 100vw;
  height: 85vh;
}

.main-screen .main-area {
  width: 100vw;
  height: 80vh;
  background-color: white;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: auto;
  white-space: nowrap;
}

.main-screen .main-area::-webkit-scrollbar {
  display: none;
}

.main-screen .main-area .orderdetail_list {
  display: flex;
  font-size: 2.5vh;
}

.main-screen .main-area hr {
  border-width: 1px 0 0 0;
  border-color: #000;
}

.main-screen .main-area .orderdetail_list .tableOrderItem__menu {
  width: 2vw;
}

.main-screen .main-area .orderdetail_list .orderdetail_name {
  width: 13vw;
  white-space: pre-wrap;
  word-break: keep-all;
}

.main-screen .main-area .tableOrderItemCLEAR,
.main-screen .main-area .tableOrderItem {
  background-color: var(--main-color);

  /* border: 1px solid rgba(0, 0, 0, 0.3); */
  border: 0.5px solid black;
  min-width: 11.5vw;
  max-width: 11.5vw;

  padding: 1vw;
  height: 70vh;
  margin: 1vw;
}

.main-screen .main-area .tableOrderItemCLEAR {
  opacity: 0.3;
  background-color: red;
}

.main-screen .main-area .tableOrderItemCLEAR .orderTableId,
.main-screen .main-area .tableOrderItem .orderTableId {
  text-align: center;
  font-size: 2vw;
  padding-bottom: 1vh;
}

.main-screen .main-area .tableOrderItemCLEAR .tableOrderItem__time,
.main-screen .main-area .tableOrderItem .tableOrderItem__time {
  text-align: center;
  font-size: 2vw;
  padding-bottom: 3vh;
}

.main-screen .main-area .tableOrderItemCLEAR .clear,
.main-screen .main-area .tableOrderItem .clear {
  text-decoration: line-through;
}

.orderdetail_scroll {
  overflow-y: auto;
  overflow-x: hidden;
  height: 59vh;
}