.chefmain {
  height: 100vh;
  width: 100vw;
}

.bottom-area {
  width: 100vw;
  height: 85vh;
}

.bottom-area .main-area {
  width: 96vw;
  height: 80vh;
  background-color: white;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: auto;
  white-space: nowrap;
  overflow: auto;
  white-space: nowrap;
}

.bottom-area .main-area::-webkit-scrollbar {
  display: none;
}

.bottom-area .main-area .tableOrderItem {
  background-color: var(--main-color);

  border: 1px solid black;
  min-width: 11.5vw;
  max-width: 11.5vw;

  padding: 1vw;
  height: 70vh;
  margin: 1vw;
}

.bottom-area .main-area .hide {
  /* display: none; */
  background-color: red;
}

.bottom-area .main-area .tableOrderItem .orderTableId {
  text-align: center;
  font-size: 2vw;
  padding-bottom: 1vh;
}

.bottom-area .main-area .tableOrderItem .tableOrderItem__time {
  text-align: center;
  font-size: 2vw;
  padding-bottom: 3vh;
}

.bottom-area .main-area .tableOrderItem .clear {
  text-decoration: line-through;
}
