.toDayOrder__Header {
  font-size: 10vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 2vh;
}
.toDayOrder__soldList {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.toDayOrder__soldList * {
  font-size: 20px;
  border: none;
  margin: 10px;
  background-color: white;
}
.toDayOrder__btn {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 3vh;
}

.toDayOrder__btn button {
  border: none;
  background-color: var(--main-color);
  border-radius: 20px;
  font-size: 4vh;
  padding: 1vh;
}

.toDayOrder__list {
  font-size: 4vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.toDayOrder__data {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
}

.toDayOrder__name {
  width: 30vw;
  text-align: center;
  padding: 1vh 0;
}

.toDayOrder__cnt {
  border-left: 1px solid black;
  width: 5vw;
  text-align: center;
  padding: 1vh 0;
}

.toDayOrder__price {
  width: 15vw;
  border-left: 1px solid black;
  text-align: center;
  padding: 1vh 0;
}

.toDayOrder__total {
  border-top: 2px solid black;
}

.salesPopupDisplay {
  position: relative;
}
.toDayOrder__listScroll {
  overflow: auto;
  height: 85%;
}
.toDayOrder__listScroll::-webkit-scrollbar {
  visibility: hidden;
}
.salesPopupDisplay .salesTodayHeader {
  font-size: 8vh;
  width: 100%;
  text-align: center;
  height: 10vh;
}
.salesPopupDisplay button:not(.yearbtn) {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background-color: transparent;
  padding: 5px 10px;
  font-size: 4vh;
}
