.toDayOrder__Header {
  font-size: 10vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 2vh;
}
.toDayOrder__btn {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 3vh;
}

.toDayOrder__btn button {
  border: none;
  background-color: var(--main-color);
  border-radius: 20px;
  font-size: 4vh;
  padding: 1vh;
}

.toDayOrder__list {
  font-size: 4vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.toDayOrder__data {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
}

.toDayOrder__name {
  width: 30vw;
  text-align: center;
  padding: 1vh 0;
}

.toDayOrder__cnt {
  border-left: 1px solid black;
  width: 5vw;
  text-align: center;
  padding: 1vh 0;
}

.toDayOrder__price {
  width: 15vw;
  border-left: 1px solid black;
  text-align: center;
  padding: 1vh 0;
}

.toDayOrder__total {
  border-top: 2px solid black;
}
