.table-info {
  width: 18vw;
  height: 26vh;
  margin: 1vh;
}

.table-info__row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  /* float: left; */
}

.table-info__select {
  height: 4vh;
}

.table-info__info {
  height: 22vh;
  background-color: var(--main-color);
  border-radius: 5px;
  display: flex;
  border: none;
}

.table-info__column {
  flex-direction: column;
  padding: 5px;
  display: flex;
  align-items: center;
  width: 9vw;
  height: 22vh;
  box-sizing: border-box;
}

.table-info__list {
  overflow-y: auto;
  overflow-x: hidden;
  height: 19vh;
}

.table-info__list::-webkit-scrollbar {
  display: none;
}

.table-info__column:first-child {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.table-info__drink-info,
.table-info__food-info {
  margin-top: 0.5vw;
  font-size: 1.5vh;
  width: 5vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.main-screen {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(5, 1fr);
  place-items: center;
}

@keyframes bounce {
  0% {
    transform: 0;
  }

  50% {
    transform: translateY(-7px);
  }

  100% {
    transform: 0;
  }
}

.table-info__callList {
  width: 13vw;
  height: 4vh;
  align-items: center;
  animation: bounce 1s linear infinite;
  font-size: 2.7vh;
  overflow-x: auto;
  display: flex;
}

.table-info__callList i {
  margin-right: 5px;
}

.table-info__orderTime {
  display: none;
}

.table-info__time,
.table-info__number {
  font-size: 2.6vh;
  margin-top: 5%;
}

.table-info__time {
  width: 5.5vw;
  text-align: right;
}

.Finish-line {
  color: red;
  text-decoration: line-through;
}

.table-info__food {
  /* position: fixed; */
  /* clear: both; */
  box-sizing: border-box;
  display: flex;
  height: 3vh;
}

.table-info__drink {
  box-sizing: border-box;
  display: flex;
  height: 3vh;
}

.select-row {
  justify-content: left;
  align-items: center;
  height: 2vh;
}

.foodDrinkNum {
  margin-right: 0.5vw;
  height: 100%;
}

.foodDrinkName {
  /* position: absolute; */
  margin-top: -0.01vh;
  font-size: 1.6vh;
  /* height: 2vh; */
}