.table-info {
  width: 18vw;
  height: 26vh;
  margin: 1vh;
}

.table-info__row {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.table-info__info {
  height: 23vh;
  background-color: var(--main-color);
  border-radius: 5px;
  display: flex;
  border: none;
}

.table-info__column {
  flex-direction: column;
  padding: 5px;
  display: flex;
  align-items: center;
  width: 9vw;
  height: 23vh;
  box-sizing: border-box;
}

.table-info__column:first-child {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.table-info__drink-info,
.table-info__food-info {
  margin-top: 0.5vw;
  font-size: 1.5vh;
}

.main-screen {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(5, 1fr);
}

@keyframes bounce {
  0% {
    transform: 0;
  }

  50% {
    transform: translateY(-7px);
  }

  100% {
    transform: 0;
  }

}

.table-info__callList {
  width: 13vw;
  animation: bounce 1s linear infinite;
  font-size: 2.3vh;
}

.table-info__orderTime {
  display: none;
}

.table-info__time,
.table-info__number {
  font-size: 2.2vh;
}