@import "reset.css";

*{
  font-size: 30px;
}
body{
  display: flex;
  justify-content: center; /* 수평 가운데 정렬 */
  height: 100vh; /* 화면 높이의 100%를 차지 */
  text-align: center; /* 페이지 전체의 요소를 가운데 정렬합니다. */
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  font-size: 30px;
  width: auto;
}
button {
  width: 60px; /* 버튼의 너비 */
  height: 40px; /* 버튼의 높이 */
  font-size: 20px; /* 버튼 내부 텍스트 크기 */
}     
nav {
  margin: 20px auto; /* 상하 여백은 20px이고 가로 여백은 자동으로 조정하여 가운데에 위치시킵니다. */
}
select {
  width: 120px; /* 버튼의 너비 */
  height: 40px;
}
#price[type="text"] {
  width: 200px;
}
.action_button {
  font-size: 30px;
  width: auto;
  margin: 10px; /* 각 버튼 사이의 간격 조정 */
}
.button_div{
  height: 100px;
  display: flex; /* 버튼들을 가로로 한 줄로 배열 */
  justify-content: center; /* 수평 가운데 정렬 */
  align-items: center; /* 수직 가운데 정렬 */
}
