@import "reset.css";

.grid{
  background-color: #333;
  padding:0.7vw;
  display: grid;
  grid-template-columns: repeat(3,33.3%);
  grid-template-rows: repeat(3,33.3%);
  height: 60vh;
  grid-gap: 0px 0px;
}

.grid_item{
  background-color: white;
  border: 0.5px solid #333;
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align : center;
  font-size: 1vw;
}

.grid_item img{
  width: auto;
  height: auto;
  max-width: 28vw;
  max-height: 15vh;
  margin-top : 1vh;
  margin-bottom: 2vh;
}

.error{
  font-size: 18vw;
  grid-column:1/4;
  grid-row:1/4;
}

.pagebuttons{
  display: flex;
  justify-content: center;
  align-content: center;
  height: 30px;
  margin-top : 3vh;
}

.pagebuttons button{
  font-size: 3vw;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  background-color:red;
}

.up,.down,.pagebutton{
  background-color: #333;
  border-radius:25px;
}

#thispage{
  background-color: #fff;
  border-radius:25px;
}

