@import "reset.css";

body{
  border-top: 5vh solid gray;
  border-bottom: 5vh solid gray;
  border-left: 5vh solid gray;
  border-right: 5vh solid gray;
  width: calc(100vw -10vh);
  height: 91vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
}

h1 {
  font-size: 5vh;
  text-align: center;
}

#touch{
  font-size: 3vw;
  text-align:center;
  margin-top:7vh;
}

#touch img{
  width: auto;
  height: 70vh;
}






