.mainselect {
  border-top: 5vh solid rgb(235, 235, 235);
  border-bottom: 5vh solid rgb(235, 235, 235);
  border-left: 5vh solid rgb(235, 235, 235);
  border-right: 5vh solid rgb(235, 235, 235);
  width: calc(100vw -10vh);
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mainselect a button {
  background-color: rgb(127, 127, 127);
  color: white;
  border: none;
  width: 40vw;
  height: 8vh;
  font-size: 4vh;
  border-radius: 10px;
  margin: 2px;
}
