.change-page {
  width: 8vw;
  padding: 1vw;
  border: 0;
  font-size: 1.5vw;
  border-radius: 20px;
  background-color: var(--main-color);
  margin-right: 1vw;
}

.Header-fix {
  position: fixed;
  height: 14vh;
  width: 100vw;
  z-index: 1000;
  background-color: white;
}

.Header {
  font-size: 10vh;
  text-align: center;
  margin: 5vh 0 1vh 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.Header-column {
  width: 33%;
}

.Header-column:first-child {
  margin-right: auto;
}

.Header-column:nth-child(2) {
  text-align: center;
}

.Header-column:last-child {
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
}

.main-screen {
  position: relative;
  top: 14vh;
  height: 86vh;
  width: 100vw;
}
