@import "reset.css"

body{
  width : 100vw;
  height : 100vh;
}

.searchArea{
  display : flex;
  justify-content: center;
  flex-direction : row;
  align-items: center;
  padding-top: 20px;
}

.searchArea input{
  width: 50vw;
  height: 5vh;
  margin: 0px 10px 0px 0px;
}

.searchArea button{
  width: 10vw;
  height: 5vh;
  border-radius: 10px;
  border : none;
  font-size:3vh;
}

.listselect{
  display:flex;
  margin: 20px 0 20px 0;
  justify-content: center;
}

.listselect a{
  width: 8vw;
  text-align:center;
  background-color:gray;
  color:white;
  border-radius: 10px;
  margin:0px 5px 0px 5px;
  font-size: 2vh;
  padding:10px;
}

.listselect .click{
  background-color:blue;
}

.list{
  display: grid;
  grid-template-columns: 10vw 50vw 10vw 10vw;
  justify-content: center;
  text-align: center;
}

.list div{
  border: 1px solid gray;
  font-size:5vh;
}

.list .btn{
  display:flex;
  justify-content: center;
  align-items: center;
}

.list div button{
  border:none;
  font-size:3vh;
  border-radius:10px;
}












